{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Посещения{% endblock %}

{% block extend_css %}
    <link rel="stylesheet" href="{% static 'css/visits-hits.css' %}">
{% endblock %}

{% block background %}
    <img src="{% static 'images/bg.jpg' %}" alt="">
{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid visit-page-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <table class="table table-hover">
                            <thead>
                                <th>#</th>
                                <th>IP</th>
                                <th>Последний визит</th>
                                <th>Просмотренные страницы</th>
                            </thead>
                            <tbody>
                                {% for hit in hits_by_ip %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td title="{{ hit.0 }}">
                                            <a href="{% url "visits_page" hit.0 %}">{{ hit.0 }}</a>
                                        </td>
                                        <td>{{ hit.1 }}</td>
                                        <td>{{ hit.2 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}